<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736783071962-3bb2sjrbprif20a1eetassdjk4rlq1ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736783071962-3bb2sjrbprif20a1eetassdjk4rlq1ov</string>
	<key>API_KEY</key>
	<string>AIzaSyBtfGffhim1kQzmuSYnMdU0ZNlQznolf0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>736783071962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mengtao.CIS-651-HW4</string>
	<key>PROJECT_ID</key>
	<string>cis651-hw4-37fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>cis651-hw4-37fbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736783071962:ios:e3b5361e2568e6b05783e3</string>
	<key>DATABASE_URL</key>
	<string>https://cis651-hw4-37fbb.firebaseio.com</string>
</dict>
</plist>